---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import BlogPost from "../components/BlogPost.astro";
const posts = await getCollection("blog");
const pageTitle = "Home | FansInSync";
---

<Layout pageTitle={pageTitle}>
  {
    posts.length ? (
      <ul>
        {posts.map((post: any) => (
          <BlogPost url={`/posts/${post.id}/`} title={post.data.title} />
        ))}
      </ul>
    ) : (
      <p>No published posts are available. Check back soon...</p>
    )
  }
</Layout>
