---
import LoginForm from "../components/LoginForm";
import Layout from "../layouts/Layout.astro";
const pageTitle = "Log in | APIPoweredBlog";
---

<Layout pageTitle={pageTitle}>
  <h1>Log in</h1>
  <LoginForm client:only="react" />
</Layout>
