---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Sign up | APIPoweredBlog";
---

<Layout pageTitle={pageTitle}>
  <h1>Sign up</h1>
  <form action="http://localhost:3000/users" method="post">
    <label for="firstName">First name</label>
    <input type="text" name="firstName" id="firstName" required />
    <label for="lastName">Last name</label>
    <input type="text" name="lastName" id="lastName" required />
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required />
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required />
    <button type="submit">Sign up</button>
  </form>
</Layout>
